<body>
  <div class="kitten-main-container" >
    <div class="d-flex flex-column">
        <h1> Say 'meow' to <%=@kitten.name %></h1>
        <div class="kitten-show-container">
        <div class="kitten-card-lg">
          <div>
            <%=cl_image_tag @kitten.photo, height: 300, width: 400, crop: :fill , class: "card-img"%>
          </div>
          <div>
            <h5>About me: </h5> <p> I'm a: <%=@kitten.description%> </p>
            <br>
            <br>
            <h5>Where to find me:</h5> <p> <%=@kitten.location %> </p>
            <br>
            <br>

            <% @reviews.each do |review| %>
              <p> <%= review.content %></p>
            <% end %>
          </div>
        </div>
        <div class="form-container-height border" >
          <p class="text-center">Pick a date and book me:</p>
          <div class="flex-box-show">
            <div class="price-item d-flex align-items-end">
              <p>£5</p> <p style="font-size:12px; margin-left:10px">per day</p>
            </div>
          </div>
            <br>
            <%= render 'bookings/form' %>
          </div>
        </div>
      <p> <class= center-text><%= link_to "Go back to see all my friends", kittens_path%></p>
    </div>
  </div>
