<body>
  <div class="container padding-top">
    <div class="row">
      <div class="col-12 col-lg-8 p-3">
          <h1> Say 'meow' to <%=@kitten.name %></h1>
          <img src="https://files.slack.com/files-pri/T02NE0241-FGKBWPJ2K/screenshot_2019-02-27_at_14.07.50.png">
          <br>
          <br>
            <h3>About me: </h3> I'm a: <%=@kitten.description%>
          <br>
          <br>
            <h4>Where to find me:</h4> <%=@kitten.location %>
          <br>
          <br>
            <p> <class= center-text><%= link_to "Go back to see all my friends", kittens_path%></p>
      </div>


        <div class="col-12 col-lg-4 form-container-height border">
          <p class="text-center">Pick a date and book me:</p>
          <div class="flex-box-show">
            <div class="price-item">
              £5
            </div>
            <div>

            </div>

          </div>



            <br>
          <%= render 'bookings/form' %>
        </div>

    </div>
  </div>
</body>


