<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <div class="main-container">
    <div class="row justify-content-center">
      <h1><%= @user.first_name %></h1>
      <div>
        <% @user.bookings.each do |booking|%>
            <div class="kitten-card">
            <%= booking.kitten.name %> <%= booking.date %>
            <%= cl_image_tag booking.kitten.photo, height: 200, width: 400 %>
            <%= render 'reviews/form', kitten: booking.kitten, review: Review.new %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div>
        <% @user.kittens.each do |kitten|%>
          <div class="kitten-card">
            <%= cl_image_tag kitten.photo, height: 200, width: 400 %>
            <%= kitten.name %>
            <%= kitten.description %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
