<div class="nav-purple sticky-top">
  <div class="logos">
    <%= image_tag "logo1.png", class: "logo"%>
    <p class="logo-letters">Rent-a-Kitten</p>
  </div>
  <div class="nav-items">
    <div>
      <%= link_to "Share your Kitten", new_kitten_path, class: "link-item" %>
    </div>
    <div>
       <%= link_to "Log in", new_user_session_path, class: "link-item"%>
    </div>
    <div>
       <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-item"%>
    </div>
    <div>
       <%= image_tag "avatar.jpg", class: "avatar" %>
    </div>
  </div>
</div>

