<div class="nav-purple sticky-top">
  <div class="logos">
    <div class="logo">
    <%= link_to image_tag("logo1.png"), root_path %>
    </div>
    <div class="logo-letters">
      <p>Rent-a-Kitten</p>
    </div>
  </div>
  <div class="nav-items">
    <div>
      <%= link_to "Share your Kitten", new_kitten_path, class: "link-item" %>
    </div>
    <div>
       <%= link_to "Log in", new_user_session_path, class: "link-item"%>
    </div>
    <div>
       <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link-item"%>
    </div>
    <div>
       <%= link_to image_tag("avatar.png"), user_path(current_user),  class: "avatar" %>
    </div>

  </div>
</div>

